/* container */
nav
{
	display: block;
	width: 100%;
	line-height:0px;
	padding:0px;
}

/* ------ all levels ------ */

/* menu */
ul.menu
{
	font-weight: bold;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height:40px;
	list-style: none;
}

/* item */
ul.menu li
{
	display: block;
	float: left;
	margin-right: 0px;
}

/* link */
ul.menu li > a
{
	float:left;
	line-height: 40px;
	height:40px;
	text-decoration: none;
	margin: 0px;
}

/* -- active -- */

/* item */
ul.menu li.selected
{
	/*empty*/
}

/* link */
ul.menu li.selected > a
{
	text-decoration: none;
}

/* -- hover -- */

/* item */
ul.menu li:hover,
ul.menu li:focus
{
	/*empty*/
}

/* link */
ul.menu li:hover > a,
ul.menu li:focus > a
{
	text-decoration: none;
}

/* ------ second level ------ */

/* menu */
ul.menu li ul
{
	display: none;
}

/* item */
ul.menu li ul li
{
	/*empty*/
}

/* link */
ul.menu li ul li > a
{
	float:none;
}

/* -- visible -- */

/* menu */
ul.menu li:hover > ul,
ul.menu li:focus > ul
{
	display: block;
	z-index: 1000;
	margin: 40px 0 0 0;
}

/* item */
ul.menu li:hover > ul li,
ul.menu li:focus > ul li
{
	float:none;
}

/* link */
ul.menu li:hover > ul li > a,
ul.menu li:focus > ul li > a
{
	display: block;
	text-decoration: none;
	margin: 0px;
}

/* -- hover -- */

/* item */
ul.menu li:hover > ul li:hover,
ul.menu li:focus > ul li:hover,
ul.menu li:hover > ul li:focus,
ul.menu li:focus > ul li:focus
{
	/*empty*/
}

/* link */
ul.menu li:hover > ul li:hover > a,
ul.menu li:focus > ul li:hover > a,
ul.menu li:hover > ul li:focus > a,
ul.menu li:focus > ul li:focus > a
{
	text-decoration: underline;
}

/***/

/* item */
ul.menu li
{
	width:100%;
	text-align:center;
}

/* link */
ul.menu li > a
{
	padding: 0;
	width:100%;
}

/* ------ second level ------ */

/* menu */
ul.menu li ul
{
	padding-left: 0px;
}

/* -- visible -- */

/* menu */
ul.menu li:hover > ul,
ul.menu li:focus > ul
{
	position: relative;
}

/* link */
ul.menu li:hover > ul li > a,
ul.menu li:focus > ul li > a
{
	padding: 0;
}

@media all and (min-width:768px)
{
	/* item */
	ul.menu li
	{
		width:auto;
		text-align:inherit;
	}

	/* link */
	ul.menu li > a
	{
		padding: 0 20px;
		width:auto;
	}

	/* ------ second level ------ */

	/* menu */

	ul.menu li ul
	{
		padding-left: 40px;
	}

	/* -- visible -- */

	/* menu */
	ul.menu li:hover > ul,
	ul.menu li:focus > ul
	{
		position: absolute;
	}

	/* link */
	ul.menu li:hover > ul li > a,
	ul.menu li:focus > ul li > a
	{
		padding: 0 20px 0 0;
	}
}